<div class="table-filter">
  <mat-form-field>
    <input #startDateInput
           matInput
           [matDatepicker]="startDate"
           (dateChange)="filterByDate()"
           placeholder="Choose a start date">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate [touchUi]="true"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input #endDateInput
           matInput
           [matDatepicker]="endDate"
           (dateChange)="filterByDate()"
           placeholder="Choose a end date">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate [touchUi]="true"></mat-datepicker>
  </mat-form-field>
</div>

<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z4">
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>**city**</th>
      <td mat-cell *matCellDef="let entry">{{entry.city}}</td>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>**start date**</th>
      <td mat-cell *matCellDef="let entry"> {{entry.start_date}} </td>
    </ng-container>

    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>**end date**</th>
      <td mat-cell *matCellDef="let entry">{{entry.end_date}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>**price**</th>
      <td mat-cell *matCellDef="let entry">{{entry.price}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>**status**</th>
      <td mat-cell *matCellDef="let entry">{{entry.status}}</td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>**color**</th>
      <td mat-cell *matCellDef="let entry"><span class="mat-cell__color-item" [ngStyle]="{backgroundColor: entry.color}">{{ entry.color }}</span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
