@import '../../../scss/mixins/rem';

.table-wrapper {
  overflow-x: auto;
}

.table-filter {
  .mat-form-field {
    margin-right: rem(20px);
  }
}

.mat-table {
  width: 100%;
}

.mat-cell {
  &__color-item {
    display: inline-block;
    color: #efefef;
    height: 100%;
    padding: rem(10px);
    width: 100%;
  }
}
