<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SMS-FE-Challenge</span>
    <div class="mat-toolbar-row--secondary-color"></div>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu">
    <a mat-raised-button routerLink="/list" routerLinkActive="active">List</a>
    <a mat-raised-button routerLink="/form" routerLinkActive="active">Form</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
