@import '../scss/theme';
@import '../scss/variables';

.mat-toolbar {
  margin-bottom: $gap-small;

  .mat-toolbar-row {
    padding-right: 0;
    justify-content: space-between;

    &--secondary-color {
      background-color: #e20714;
      border-left: solid 4px #fff;
      height: 100%;
      width: 200px;
    }

    &.menu {
      background-color: #fff;
      justify-content: flex-start;

      [routerLink] {
        margin-right: $gap-medium;

        &.active {
          background-color: mat-color($sms-app-primary, 100);
        }
      }
    }
  }
}
