/* Import style dependencies */
@import 'scss/fonts';
@import 'scss/theme';
@import '~include-media/dist/include-media';
@import 'scss/variables';

/** Setup Breakpoints */
 $breakpoints: (
    'xs' : 600px,
    'sm' : 960px,
    'md' : 1280px,
    'lg' : 1920px
);

/* Setup root style configuration of the app */
 body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
 }
