@import 'palettes';
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$sms-app-primary: mat-palette($sms-primary-palette);
$sms-app-accent: mat-palette($sms-accent-palette, A400, A200, A700);
$sms-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sms-app-theme: mat-light-theme($sms-app-primary, $sms-app-accent, $sms-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sms-app-theme);
