@import 'mixins/rem';

/* Default layout variables */
$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: rem(14px);

$gap-xs: rem(5px);
$gap-small: rem(10px);
$gap-medium: rem(20px);
$gap-large: rem(40px);
$gap-xl: rem(60px);
