<div class="form-wrapper form-wrapper--centered">
  <form [formGroup]="signupForm" class="signup-form-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>

        <input matInput formControlName="email"/>

        <mat-error *ngIf="signupForm.controls['email'].invalid">
          <p *ngIf="signupForm.controls['email'].errors.required">Email is required</p>
          <p *ngIf="signupForm.controls['email'].errors.email">Please enter a valid Email address.</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />

        <mat-error *ngIf="signupForm.controls['password'].invalid">
          <p *ngIf="signupForm.controls['password'].errors.required">Password is required</p>
          <p *ngIf="signupForm.controls['password'].errors.minlength">Password must be 8 characters long</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput formControlName="confirmPassword"/>

        <mat-error *ngIf="signupForm.controls['confirmPassword'].invalid">
            <p *ngIf="signupForm.controls['confirmPassword'].errors.required">Please confirm your password</p>
            <p *ngIf="signupForm.controls['confirmPassword'].errors.noPasswordMatch">The passwords have to match.</p>
        </mat-error>
      </mat-form-field>

      <button mat-stroked-button color="primary" (click)="submitForm()">Sign up</button>
  </form>
</div>
