@import '../../../scss/theme';
@import '../../../scss/variables';

.form-wrapper {
  display: flex;

  &--centered {
    justify-content: center;
    align-items: center;
  }
}

.signup-form-container {
  @include mat-elevation(4);
  border-radius: $gap-xs;
  display: flex;
  flex-direction: column;
  padding: $gap-medium;
  width: 300px;

  .mat-form-field {
    display: block;
    margin-bottom: $gap-medium;
  }
}
